@page
@model HotelReservationManager.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Size" class="control-label"></label>
                <input asp-for="Room.Size" class="form-control" />
                <span asp-validation-for="Room.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Type" class="control-label"></label>
                <select asp-for="Room.Type" class="form-control"></select>
                <span asp-validation-for="Room.Type" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Room.IsTaken" /> @Html.DisplayNameFor(model => model.Room.IsTaken)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Room.AdultPrice" class="control-label"></label>
                <input asp-for="Room.AdultPrice" class="form-control" />
                <span asp-validation-for="Room.AdultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.ChildPrice" class="control-label"></label>
                <input asp-for="Room.ChildPrice" class="form-control" />
                <span asp-validation-for="Room.ChildPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.RoomNumber" class="control-label"></label>
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
