@page
@model HotelReservationManager.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Reservation.RoomId" class="control-label"></label>
                <input asp-for="Reservation.RoomId" class="form-control" />
                <span asp-validation-for="Reservation.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Reservation.UserId" class="control-label"></label>
                <input asp-for="Reservation.UserId" class="form-control" />
                <span asp-validation-for="Reservation.UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Reservation.DateOfAccommodation" class="control-label">Date Of Accommodation</label>
                <input asp-for="Reservation.DateOfAccommodation" class="form-control" />
                <span asp-validation-for="Reservation.DateOfAccommodation" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Reservation.ReleaseDate" class="control-label">Release Date</label>
                <input asp-for="Reservation.ReleaseDate" class="form-control" />
                <span asp-validation-for="Reservation.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reservation.BreakfastIncluded" />
                    Breakfast Included
                </label>
            </div>
            <div class="form-group form-check mt-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Reservation.AllInclusiveIncluded" /> 
                    All Inclusive Included
                </label>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Reservation.OwedAmount" class="control-label">Owed Amount</label>
                <input asp-for="Reservation.OwedAmount" class="form-control" />
                <span asp-validation-for="Reservation.OwedAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
